<h2>User Info</h2>
<form (ngSubmit)="submitForm()" #userForm="ngForm">
  <label>Name:</label>
  <input type="text" name="name" [(ngModel)]="user.name" required />

  <label>Email:</label>
  <input type="email" name="email" [(ngModel)]="user.email" required />

  <label>Adres:</label>
  <input type="text" name="address" [(ngModel)]="user.address" required />

  <button type="submit" [disabled]="userForm.invalid">Save</button>
</form>

<hr />

<h3>Saved Users</h3>
<ul>
  <li *ngFor="let u of users">
    {{ u.name }} - {{ u.email }} - {{ u.address }}
  </li>

  <li *ngFor="let u of users">
  {{ u.name }} - {{ u.email }} - {{ u.address }}
  <button (click)="deleteUser(u.id)">Delete</button>
</li>

</ul>
